body {
  margin: 0px;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #333;
    color: white;
    padding: 10px;
  }
  
  #header-name {
    margin: 0;
  }
  
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
  }
  
  li {
    margin-right: 15px;
  }
  
  a {
    text-decoration: none;
    color: white;
    padding: 10px;
  }

  #about-me {
    margin: 10px 50px 0;
  }

  footer {
    background-color: #333;
  }

  #github-link {
    color: cornflowerblue;
  }

  footer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 25px;
}

button, a {
    margin: 0 10px;
}