body {
  margin: 0px;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #333;
    color: white;
    padding: 10px;
  }
  
  #header-name {
    margin: 0;
  }
  
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
  }
  
  li {
    margin-right: 15px;
  }
  
  a {
    text-decoration: none;
    color: white;
    padding: 10px;
  }

  #about-me {
    margin: 10px 50px 0;
  }

  footer {
    background-color: #333;
  }

  #github-link {
    color: cornflowerblue;
  }

  footer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 25px;
}

button, a {
    margin: 0 10px;
}

#github-link {
  color: blue;
}

#github-link, #github-link-name {
  font-size: larger;
}

/* Projects.css */

#projects-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* Two columns with equal width */
  gap: 20px; /* Adjust the gap between cards as needed */
}

.project-card {
  border: 1px solid #ddd; /* Border for each card */
  padding: 20px;
  text-align: center;
}

.project-card img {
  max-width: 100%;
  height: auto;
}

.project-card h1 {
  margin-bottom: 10px;
}

#github-link {
  text-decoration: none;
  color: #0366d6; /* GitHub link color */
}

#github-link-name {
  display: flex;
  align-items: center;
}

