body {
  margin: 0px;
  background-color: darksalmon;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #333;
    color: white;
    padding: 10px;
  }
  
  #header-name {
    margin: 0;
  }
  
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
  }
  
  li {
    margin-right: 15px;
  }
  
  a {
    text-decoration: none;
    color: white;
    padding: 10px;
  }

  #about-me {
    margin: 10px 20px 0;
    background-color: cornflowerblue;
    border: 2px solid #333;
    padding: 5px;
  }

  footer {
    background-color: #333;
  }

  footer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 25px;
}

button, a {
    margin: 0 10px;
}

#github-link {
  color: blue;
  text-decoration: none;
}

#github-link, #github-link-name {
  font-size: larger;
}

#projects-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 5px;
  margin-top: 5px;
  background-color: white
}

.project-card {
  border: 1px solid #ddd;
  padding: 20px;
  text-align: center;
}

.project-card img {
  max-width: 100%;
  height: auto;
}

.project-card h1 {
  margin-bottom: 10px;
}

#github-link-name {
  display: flex;
  align-items: center;
}

